$colors-light: (
  background: #f7f5fb,
  text: #000000,
  accent: #574ae2,
  login_prompt: #ffffff,
  input-bg: #f3f3f3,
<<<<<<< HEAD
  line: #ffffff,
=======
>>>>>>> 119a7a6 (temporarily updated login page)
);

$colors-dark: (
  background: #03012c,
  text: #ffffff,
  accent: #574ae2,
  login_prompt: rgb(0, 0, 0),
  input-bg: #292929,
<<<<<<< HEAD
  line: #464646,
  dark-google-background: #4285f4,
=======
>>>>>>> 119a7a6 (temporarily updated login page)
);

@function get-light($name) {
  @return map-get($colors-light, $name);
}

@function get-dark($name) {
  @return map-get($colors-dark, $name);
}

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) & {
      @content;
    }
  }
  :root[data-theme="dark"] & {
    @content;
  }
}
