@use "colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main {
  background-color: get-light("background");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  @include dark-mode {
    background-color: get-dark("background");
  }

  .login_prompt {
    background-color: get-light("login_prompt");
    border-radius: 12px;
    padding: 2rem;

    @include dark-mode {
      background-color: get-dark("login_prompt");
    }
    .header {
      font-size: clamp(1.2rem, 8vw, 2.6rem);
      color: get-light("text");

      @include dark-mode {
        color: get-dark("text");
      }
    }

    .login_form {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      padding: 0;

      .label {
        color: get-light("text");
        margin-right: auto;
        margin-bottom: 0.2rem;
        @include dark-mode {
          color: get-dark("text");
        }
      }

      .input {
        width: 100%;
        font-size: 1rem;
        background-color: get-light("input-bg");
        color: darken(get-light("text"), 2.5%);
        padding: 0.6rem;
        border-radius: 0.2rem;
        margin-bottom: 1rem;
        border: none;
        &:focus {
          background-color: get-light("input-bg");
        }

        &::placeholder {
          opacity: 0.5;
        }

        @include dark-mode {
          background-color: get-dark("input-bg");
          color: darken(get-dark("text"), 2.5%);
          &:focus {
            background-color: get-dark("input-bg");
          }
        }
      }

      .email_button {
        font-size: 1.2rem;
        padding: 0.6rem 1.2rem;
        color: get-light("text");
        background-color: get-light("input-bg");
        border: none;
        border-radius: 0.2rem;

        @include dark-mode {
          color: get-dark("text");
          background-color: get-dark("input-bg");

          &:hover {
            background-color: darken(get-dark("input-bg"), 5%);
          }
        }

        &:hover {
          cursor: pointer;
          background-color: darken(get-light("input-bg"), 5%);
        }
      }
    }
    .line {
      border-color: get-light("line");
      height: 1px;
      margin: 1rem;

      @include dark-mode {
        border-color: get-dark("line");
      }
    }
    .google_button {
      display: flex;
      flex-flow: row nowrap;
      font-family: "Roboto";
      font-size: 1rem;
      border: none;
      outline: none;
      color: get-light("text");
      padding: 1.1rem;

      @include dark-mode {
        color: get-dark("text");
        background-color: get-dark("dark-google-background");
      }
    }
  }
}
